body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
    
}

header li {
    margin-left: 10px;
    
    
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
    background-size: cover; /* Add this line */
    background-position: center center; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-attachment: fixed; /* Add this line */
}
ul{
  
  text-align: center;
 display: inline-block;
  align-items: center;
  margin: 10px 20px;
  font-size: 1.5em;
  
}
p{
  font-size: 1.4em;
}

#hero .profile-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
}

#hero h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 2.5em;
}

header a {
    text-decoration: none;
    color: black;
}

/* Add everything below here */

#hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('c.jpg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('8.jpg');
    
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('2.jpg');
}
.socials{
  display: flex;
  align-items: center;
}
.socials{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px;
  font-size: 40px;
}
.fa-facebook{
  color: #0f92f3;
}
.fa-twitter{
  color: blue;
}
.fa-envelope{
  color: red;
}
.fa-instagram{
  color: #cd486b;
}
